
<div class="card card-body p-4 rounded-1 " style="background-color: #183249; ">
    <form action="/task/add" method="post" style="color: white;">
<div>
    <label for="title">Nombre libro</label>
    <input class="form-control rounded-1  text-black"  type="text" name="title" placeholder="Titulo del libro" id="title" required style="background-color: #81e9e2;">
</div>
<div>
    <label for="autor">Autor</label>
    <input name="autor" id="autor" placeholder="Nombre de Autor" class="form-control rounded-1  text-black" required style="background-color: darkgrey;">
</div>

<div>
    <label for="volumen">Volumen</label>
    <input name="volumen" id="volumen" placeholder="Volumen del libro " class="form-control rounded-1  text-black" required style="background-color: #81e9e2;">
</div>

<div>
    <label for="editorial">Editorial</label>
    <input name="editorial" id="editorial" placeholder="Editorial" class="form-control rounded-1  text-black" required style="background-color: darkgrey;">
</div>
<div>
    <label for="date">Cantida</label>
    <input name="date" id="date" placeholder="Cantida" class="form-control rounded-1  text-black"  required style="background-color: #81e9e2;">
</div>
<div>
    <label for="entrada">Fecha de entrada</label>
    <input name="entrada" id="entrada" placeholder="Fecha de entrada" class="form-control rounded-1  text-black" required style="background-color: darkgrey;">
</div>
<br>
 <div class="d-grid gap-2 col-6 mx-auto"><button class="btn btn-outline-light " style="background-color: #10A6A4;border-radius: 5px;"><i class="bi bi-database-fill-add"></i>  AGREGAR</button></div>

</form>
</div>
