<nav class="navbar navbar-dark  mb-4" style="background: #15727A;">
   <div class="container">
      <a href="/" class="navbar-brand"> <i class="bi bi-book"></i> LIBRERIA: REGISTRO DE ENTRADAS DE LIBROS </a>
     
   </div> 
</nav>